.bottom-menu {
  position: fixed; /* Fixer la barre de navigation en bas de la fenêtre */
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid whitesmoke;
  display: flex;
  justify-content: space-around;
  padding: 10px 0; /* Ajustement de l'espacement pour les petits écrans */
  z-index: 2;
  background-color: var(--white-color);
  align-items: center;
  box-shadow: 0 0 2px var(--grey-color-light);
}

.menu-item {
  font-weight: bold;
  text-decoration: none; /* Retire le soulignement des liens */
  color: black; /* Couleur du texte par défaut */
  margin: 10px 10px 0; /* Espacement entre les éléments (haut, gauche/droite, bas) */
  border-radius: 5px; /* Arrondir les coins des éléments */
  transition: all 0.3s ease; /* Ajoute une transition pour tous les changements */
  position: relative; /* Pour positionner le pseudo-élément */
  overflow: hidden; /* Cache les débordements pour les animations */
  text-align: center;
  flex: 1; /* Chaque élément prend un espace égal */
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap; /* Empêche le retour à la ligne */
}



.menu-item i {
  display: block;
  margin-bottom: 5px; /* Ajoute un espace entre l'icône et le texte */
  color: black;
}

/* Média query pour les petits écrans */
@media screen and (max-width: 600px) {
  .bottom-menu {
    padding: 10px 0; /* Ajustement de l'espacement pour les petits écrans */
  }
  
  .menu-item {
    font-size: 10px; /* Taille de police réduite pour les petits écrans */
    padding: 5px 10px; /* Ajustement de l'espacement des éléments */
  
  }
  
  .menu-item i {
    margin-bottom: 0; /* Réinitialise l'espace sous l'icône */
  }
}


.bottom-menu a:hover {
  color: #fff; /* Couleur du texte au survol */
  background-color: #ff0000; /* Couleur de fond au survol */
  transform: scale(1.1); /* Agrandir légèrement l'élément au survol */
}