.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white; /* Assurez-vous de la bonne couleur de fond */
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 3vw; /* Utilisation des unités relatives pour un padding responsive */
  z-index: 1000; /* Assurez-vous de l'ordre d'empilement souhaité */
  box-shadow: 0 0 2px var(--grey-color-light);
  box-sizing: border-box; /* Inclut le padding dans la hauteur totale */
  line-height: 50px;
}

.navbar .left, .navbar .center, .navbar .right {
  display: flex;
  align-items: center;
}

.left i, .right i {
  margin-right: 10px; /* Espacement entre les icônes */
}

/* Styliser l'icône TikTok */
.tiktok-icon {
  font-size: 40px; /* Taille de l'icône */
  color: red; /* Couleur de l'icône */
  margin-right: 10px; /* Espacement à droite */
  background-color: #f1f1f1; /* Couleur de fond du cercle */
  border-radius: 50%; /* Faire un cercle */
  width: 50px; /* Largeur du cercle */
  height: 50px; /* Hauteur du cercle */
  display: flex; /* Pour centrer l'icône */
  align-items: center; /* Aligner verticalement au centre */
  justify-content: center; /* Aligner horizontalement au centre */
}


.navbar_content {
  display: flex;
  align-items: center;
}

.navbar_content i {
  font-weight: bold;
  color: black;
  margin-left: 10px; /* Espacement entre les icônes dans le contenu de la navbar */
}
