/* Styles de base */
form {    
    width: 100%; /* Utilisez 100% de la largeur disponible */
    max-width: 300px; /* Largeur maximale pour éviter l'étirement excessif */
    margin: 0 auto; /* Centrer le formulaire horizontalement */
    padding: 10px; /* Ajouter de l'espace intérieur pour un meilleur espacement */
    box-sizing: border-box; /* Inclure le padding dans le calcul de la largeur */
}

input {
    all: unset;
    font: 16px system-ui;
    color: black;
    width: 100%; /* Utiliser toute la largeur disponible */
    padding: 12px 20px; /* Espacement interne ajusté */
    border-radius: 25px;
    outline: none;
    background-color: var(--white-color);
    border: 1px solid var(--grey-color-light);
    box-sizing: border-box; /* Inclure le padding dans le calcul de la largeur */
}

/* Media queries pour rendre le formulaire plus adaptatif */
@media (max-width: 600px) {
    /* Pour les écrans plus petits, ajuster la largeur du formulaire */
    form {
        max-width: 50%; /* Utiliser toute la largeur disponible */
    }
}

#message{
    color: black;
    bottom: 0;
    left: 0; /* Ajustez si nécessaire pour le positionnement horizontal */
    text-align: center; /* Centre le texte horizontalement */

}


::placeholder {
    color: black;
    opacity: 0.7; 
}

/* Style pour les grands écrans */
@media screen and (min-width: 769px) {
    .search-form {
        display: block; /* Affiche le formulaire de recherche */
    }
    
    .search-icon {
        display: none; /* Masque l'icône de recherche */
    }
}

/* Style pour les petits écrans */
@media screen and (max-width: 768px) {
    .search-form {
        display: none; /* Masque le formulaire de recherche */
    }
    
    .search-icon {
        display: inline-block; /* Affiche l'icône de recherche */
        cursor: pointer; /* Curseur pointer pour indiquer que l'icône est cliquable */
        text-align: center; /* Centre l'icône horizontalement */
    }

 
}
   /* Style pour l'icône de recherche */
   .search-icon {
    justify-content: center; /* Centrage horizontal */
    align-items: center; /* Centrage vertical */
    text-align: center;
    font-size: 24px; /* Taille de la police de l'icône */
    color: #333; /* Couleur de l'icône */
    transition: color 0.3s ease; /* Transition fluide de la couleur */
}

/* Style pour l'icône de recherche au survol */
.search-icon:hover {
    color: #007bff; /* Couleur de l'icône au survol */
}





