form {    
    background-color: #222222; /* Gris foncé */
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Ajout de la propriété pour centrer horizontalement */
    margin: 0 auto; /* Pour centrer le formulaire horizontalement */
    margin-right: 20px; /* Décalage de 20 pixels vers la droite */
}


#message{
    color: black;
    bottom: 0;
    left: 0; /* Ajustez si nécessaire pour le positionnement horizontal */
    text-align: center; /* Centre le texte horizontalement */

}
input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: calc(100% - 40px); /* Ajustement de la largeur pour tenir compte du bouton */
    padding: 6px 10px;
}

::placeholder {
    color: #fff;
    opacity: 0.7; 
}

/* Style pour les grands écrans */
@media screen and (min-width: 769px) {
    .search-form {
        display: block; /* Affiche le formulaire de recherche */
    }
    
    .search-icon {
        display: none; /* Masque l'icône de recherche */
    }
}

/* Style pour les petits écrans */
@media screen and (max-width: 768px) {
    .search-form {
        display: none; /* Masque le formulaire de recherche */
    }
    
    .search-icon {
        display: inline-block; /* Affiche l'icône de recherche */
        cursor: pointer; /* Curseur pointer pour indiquer que l'icône est cliquable */
        text-align: center; /* Centre l'icône horizontalement */
    }

 
}
   /* Style pour l'icône de recherche */
   .search-icon {
    justify-content: center; /* Centrage horizontal */
    align-items: center; /* Centrage vertical */
    text-align: center;
    font-size: 24px; /* Taille de la police de l'icône */
    color: #333; /* Couleur de l'icône */
    transition: color 0.3s ease; /* Transition fluide de la couleur */
}

/* Style pour l'icône de recherche au survol */
.search-icon:hover {
    color: #007bff; /* Couleur de l'icône au survol */
}





