
/* Styliser l'icône de recherche */
.search-icon {
    color: #000; /* Couleur de l'icône */
    cursor: pointer; /* Curseur en forme de main */
    margin-right: 10px; /* Espacement à droite */
    font-weight: bold;
  }
  
  /* Masquer le formulaire de recherche par défaut */
  .hidden {
    display: none;
  }
  
  /* Styliser le formulaire de recherche */
  .search-form {
    display: flex; /* Disposer les éléments en ligne */
    align-items: center; /* Aligner verticalement les éléments */
    padding: 5px; /* Padding interne */
    border-radius: 5px; /* Bords arrondis */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre */
  }

/* Styliser le champ de recherche */
#query {
    color: red;
    background-color: black; /* Couleur de fond */
    padding: 5px; /* Padding interne */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Bords arrondis */
    outline: none; /* Pas de contour */
    font-size: 16px; /* Taille du texte */
  }
  
  
/* Message de retour */
#message {
    background: white;
    margin-top: 10px; /* Espacement en haut */
    font-size: 14px; /* Taille du texte */
    color: red; /* Couleur du texte */
  }