/* Styles CSS pour le panneau latéral */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  z-index: 1000;
  width: 250px; /* Largeur fixe du panneau latéral */
  background-color: #f8f9fa;
  border-right: 1px solid black;
  overflow-y: auto;
  transition: left 0.3s; /* Ajouter une transition fluide */
  height: calc(100vh - 60px); /* Utilisation de la hauteur totale de l'écran moins la hauteur du menu */
}

 /* Styles pour les éléments du sidebar */
 .sidebar-item {
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.sidebar-item:hover {
  background-color: #007bff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.sidebar-item a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
  display: block;
}

.sidebar-item a:hover {
  color: #ffffff;
}

  
  /* Media query pour les écrans de taille moyenne à grande */
  @media screen and (min-width: 768px) {
    .sidebar {
      width: 50%;
      /* Le panneau latéral occupe la moitié de la largeur de l'écran */
      left: -100%;
      /* Masquer le panneau latéral par défaut sur les petits écrans */
  
    }
  }
  
  /* Media query pour les petits écrans */
  @media screen and (max-width: 767px) {
    .sidebar {
      width: 100%;
      /* Le panneau latéral occupe toute la largeur de l'écran */
      left: -100%;
      /* Masquer le panneau latéral par défaut sur les petits écrans */
    }
  }
  
  
  .sidebar.show {
    left: 0;
    /* Afficher le panneau latéral lorsque la classe "show" est ajoutée */
  }
  
  
  .sidebar-item.active {
    background-color: #e9ecef;
    /* Couleur de fond pour l'élément actif */
  }
  
 