
/* Styles CSS pour le panneau latéral */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -250px;
  z-index: 100;
  width: 250px; /* Largeur fixe du panneau latéral */
  background-color: #f8f9fa;
  border-right: 1px solid black;
  overflow-y: auto;
  transition: left 0.3s; /* Ajouter une transition fluide */
  height: 100vh; /* Utilisation de la hauteur totale de l'écran */
  margin-bottom: 30px; /* Ajustez la valeur selon vos besoins */

}

.sidebar-item a {
  text-decoration: none; /* Retirer le soulignement */
  color: black; /* Changer la couleur en noir */
  transition: color 0.3s ease; /* Ajoute une transition sur la couleur */

}
.sidebar-item a:hover {
  color: #ff0000; /* Change la couleur du texte au survol */
}

/* Styles pour les éléments du sidebar */
.sidebar-item {
  padding: 8px 20px;
  z-index: 99;

 }


/* Ajoute de l'espace en bas du dernier élément du sidebar */
.sidebar-item:last-child {
  margin-bottom: 100px; /* Ajoutez la marge selon vos besoins */
}

  
  /* Media query pour les écrans de taille moyenne à grande */
  @media screen and (min-width: 768px) {
    .sidebar {
      width: 50%;
      /* Le panneau latéral occupe la moitié de la largeur de l'écran */
      left: -100%;
      /* Masquer le panneau latéral par défaut sur les petits écrans */
  
    }
  }
  
  /* Media query pour les petits écrans */
  @media screen and (max-width: 767px) {
    .sidebar {
      width: 100%;
      /* Le panneau latéral occupe toute la largeur de l'écran */
      left: -100%;
      /* Masquer le panneau latéral par défaut sur les petits écrans */
    }
  }
  
  
  .sidebar.show {
    left: 0;
    /* Afficher le panneau latéral lorsque la classe "show" est ajoutée */
  }
  
  
  .sidebar-item.active {
    background-color: #e9ecef;
    /* Couleur de fond pour l'élément actif */
  }
  
 