
  /* Styles pour le bouton de menu */
  #menu-toggle {
    background-color: #fff;
    /* Couleur de fond (exemple) */
    border-radius: 50%;
    /* Bordure arrondie pour un aspect plus doux (exemple) */
    border: 2px solid #ff69b4;
    /* Bordure solide (exemple) */
    color: #ff69b4;
    /* Couleur rose (exemple) */
    font-size: 24px;
    /* Taille de police (exemple) */
    position: fixed;
    top: 10px; /* Ajustez la position verticale */
    left: 10px; /* Ajustez la position horizontale */
    z-index: 101; /* Au-dessus du reste du contenu */
    transition: left 0.3s;
    /* Ajouter une transition fluide */
  }
  
  #menu-toggle:hover {
    transform: scale(1.2);
    /* Agrandir l'icône au survol (exemple) */
    cursor: pointer;
    /* Changement de curseur (exemple) */
  }
  
  #menu-toggle {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Exemple d'ombre portée */
  }
  
  
  #menu-toggle.show {
    left: 260px;
    /* Déplacer le bouton de menu vers la droite lorsque le panneau latéral est ouvert */
  }