body,html{
overflow-y: auto;
}
/* Styles CSS pour le panneau latéral */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -250px; /* Masquer le panneau latéral par défaut */
    width: 250px; /* Largeur du panneau latéral */
    z-index: 100;
    padding: 48px 0;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    overflow-y: auto;
    transition: left 0.3s; /* Ajouter une transition fluide */
  }

  .sidebar.show {
    left: 0; /* Afficher le panneau latéral lorsque la classe "show" est ajoutée */
  }

  .sidebar-item {
    padding: 8px 20px;
  }

  /* Styles pour le bouton de menu */
  #menu-toggle {
    background-color: #fff; /* Couleur de fond (exemple) */
  border-radius: 50%; /* Bordure arrondie pour un aspect plus doux (exemple) */
  border: 2px solid #ff69b4; /* Bordure solide (exemple) */

    color: #ff69b4; /* Couleur rose (exemple) */
    font-size: 24px; /* Taille de police (exemple) */
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 101; /* Au-dessus du panneau latéral */
    transition: left 0.3s; /* Ajouter une transition fluide */
  }

  #menu-toggle:hover {
    transform: scale(1.2); /* Agrandir l'icône au survol (exemple) */
    cursor: pointer; /* Changement de curseur (exemple) */
  }

  #menu-toggle {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Exemple d'ombre portée */
  }
    

  #menu-toggle.show {
    left: 260px; /* Déplacer le bouton de menu vers la droite lorsque le panneau latéral est ouvert */
  }
  .sidebar-item.active {
    background-color: #e9ecef; /* Couleur de fond pour l'élément actif */
  }

  .sidebar{
    margin-bottom: 100px;
}

.bottom-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
    z-index: 1000; /* Assure que la barre de navigation est au-dessus du contenu */
    margin-top: 10vh; /* Utilisation de pourcentage pour la marge supérieure */
}

/* Média query pour les petits écrans */
@media screen and (max-width: 600px) {
    .bottom-menu {
        padding: 10px 0; /* Ajustement de l'espacement pour les petits écrans */
        margin-top: 0; /* Suppression de la marge supérieure pour les petits écrans */
    }
}



/* Styles pour les icônes du menu */
.menu-item {
    color: #888;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
  }
   
  .menu-item {
    padding: 8px 20px; /* Espacement des éléments */
  }
  .menu-item i {
    display: block; /* Assure que l'icône a sa propre ligne */
    margin-bottom: 5px; /* Ajoute un espace entre l'icône et le texte */
  }
  
  @media (max-width: 600px) { /* Ajustement pour les petits écrans */
    .menu-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 10px; /* Taille de police réduite pour les petits écrans */
    }
  
    .menu-item i {
      margin-bottom: 0; /* Réinitialise l'espace sous l'icône */
    }
  }
  

/* Média query pour ajuster la disposition sur les petits écrans */
@media screen and (max-width: 768px) {
    .bottom-menu {
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 0;
    }
}

/* Ajouter un espace en bas de la balise main */
main {
    margin-bottom: 100px; /* Utilisez la même hauteur que celle définie pour le menu de navigation */
  }


.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Réglez la hauteur selon vos besoins */
  }
  
  .video-container video,
  .video-container iframe {
    object-fit: cover; /* Pour que la vidéo couvre complètement le conteneur tout en conservant le ratio d'aspect */
    max-width: 640px; /* Largeur maximale de la vidéo */
    max-height: 360px; /* Hauteur maximale de la vidéo */ 
}

  .container-fluid {
    display: flex;
    justify-content: center; /* Aligner horizontalement */
    align-items: center; /* Aligner verticalement */
    height: 100vh; /* Hauteur de l'écran */
  }
  
  
  
